#clusterMap{
    width: 100%; 
    height: 500px;
}

#map{
    width: 400px; 
    height: 300px;
}

body{
    font-family: Barlow, sans-serif;
}

.navbar-toggler{
    transition: 500ms ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active{
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler.collapsed{
    transform: rotate(180deg);
}