<% layout('layout/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center my-5 my-lg-4">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                    alt="Campground Image" class="card-img-top" />
                <div class="card-body">
                    <div class="card-title h3">Sign Up</div>
                    <form action="/signup" method="POST" class="validate-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="invalid-feedback">Please enter a username</div>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                            <div class="invalid-feedback">Please enter a valid email address</div>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                            <div class="invalid-feedback">Please enter a password</div>
                        </div> 
            
                        <div class="mb-3">
                            <label for="rePassword" class="form-label">Re-enter Password</label>
                            <input type="password" class="form-control" id="rePassword" name="rePassword" required>
                            <div class="invalid-feedback">Please re-enter your password</div>
                        </div> 

                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">Sign Up</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>